Binaries
Build
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uproject
Content/StarterContent
enc_temp_folder
*_BuiltData.uasset